extends layout

block content
  h3.my-3 予定の作成
  //- if channel_alert
    div(role="alert").alert.alert-warning すでにチャンネルIDが登録されています。<br>別のチャンネルIDを登録してください。
  form(method="post", action="/schedules").my-3
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="scheduleName") 予定名：
      input(type="text", name="scheduleName", required).form-control
    div.form-group
      label(for="description") 説明：
      textarea(name="description", required).form-control
    div.form-group
      label(for="dates") 日程（改行で11/1, 11/16のような形式で）：
      textarea(name="dates", rows="5", required).form-control
    //- div.form-group 
      label(for="roomId") （Slackなどの）チャンネルのID（オプション）：
      if channel_alert
        input(type="text", name="roomId").form-control.is-invalid
        div.invalid-feedback 別のチャンネルIDを登録してください。
      else
        input(type="text", name="roomId").form-control
    button(type="submit").btn.btn-primary 作成